<div class="top-header sticky">
  <div class="left-menu-items">
    <div class="logo">
      <img src="assets/images/logo.png" alt="Logo" class="logo" />
    </div>

    <div class="menu">
      <a
        class="menu-item"
        [routerLink]="['/home']"
        [routerLinkActive]="'active'"
        >Home</a
      >
      <a
        class="menu-item"
        [routerLink]="['/dog-breeds']"
        routerLinkActive="active"
        >Dog Breeds</a
      >
    </div>
  </div>

  <div class="hamburger">
    <ng-container *ngIf="state.isMenuOpen()">
      <img
        src="assets/images/close.svg"
        alt="Menu"
        class="menu-toggler"
        (click)="toggleMenu()"
      />
    </ng-container>
    <ng-container *ngIf="!state.isMenuOpen()">
      <img
        src="assets/images/menu.svg"
        alt="Menu"
        class="menu-toggler"
        (click)="toggleMenu()"
      />
    </ng-container>
  </div>
</div>
