<h1>Welcome to the Doggos Master</h1>

<p>
  At Doggos Master, we celebrate our canine companions by bringing you a
  comprehensive and interactive directory of dog breeds. Whether you're an
  aspiring dog owner or just a dog lover, our web application helps you explore
  and find detailed information about various breeds with ease.
</p>

<div class="top-divider"></div>
<h2>What We Offer</h2>
<p>
  Explore Dog Breeds: Browse through our extensive list of dog breeds. From the
  elegant Afghan Hound to the playful Pomeranian, find the breed that fits your
  lifestyle and personality. Filter by Characteristics: Use our intuitive
  filters to narrow down breeds by size, temperament, and more. Whether you need
  a family-friendly dog or a low-maintenance companion, we’ve got you covered.
  View Stunning Images: Each breed profile comes with high-quality images, so
  you can see exactly what your future furry friend will look like. Learn and
  Discover: Dive into detailed breed profiles that include history,
  characteristics, and care tips. Make an informed decision about which breed
  might be the best fit for you.
</p>

<div class="top-divider"></div>

<h2>Get Started</h2>

<p>
  Ready to meet your new best friend? Start by exploring our breed directory or
  use the filters to find exactly what you're looking for. If you have any
  questions or need assistance, feel free to reach out to our support team.
  We’re here to help you find the perfect pup!
</p>

<h2>Happy Browsing!</h2>

<div class="centered">
  <app-button
    [text]="'Explore Breeds'"
    (buttonClicked)="navigate()"
    [type]="BUTTON_TYPE.PRIMARY"
  ></app-button>
</div>
